BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Allman
SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve
